In [9]:
import sqlite3
import json
import time

In [15]:
conn = sqlite3.connect('test_db.sqlite')
cursor = conn.cursor()

In [16]:
cursor.execute("CREATE TABLE IF NOT EXISTS test_json (id INTEGER PRIMARY KEY AUTOINCREMENT, data TEXT)")
records_to_insert = 10000000
json_data_template = {"name": "Name", "age": 30, "interests": ["hobby1", "hobby2"]}
start_time = time.time()
for i in range(records_to_insert):
    json_data = json_data_template.copy()
    json_data['name'] = f"Name_{i}"
    cursor.execute("INSERT INTO test_json (data) VALUES (?)", (json.dumps(json_data),))
conn.commit()
end_time = time.time()

print(f"Inserted {records_to_insert} records in {end_time - start_time} seconds.")

Inserted 10000000 records in 28.104839086532593 seconds.

In [18]:
conn = sqlite3.connect('test_db.sqlite')
cursor = conn.cursor()

# Query for a specific record
query_name = "Name_500000"
start_time = time.time()
cursor.execute("SELECT * FROM test_json WHERE data LIKE ?", (f'%{query_name}%',))
result = cursor.fetchall()
end_time = time.time()

print(f"Query time: {end_time - start_time} seconds. Result: {result}")

# Close the connection
conn.close()

Query time: 1.368523120880127 seconds. Result: [(500001, '{"name": "Name_500000", "age": 30, "interests": ["hobby1", "hobby2"]}'), (1500001, '{"name": "Name_500000", "age": 30, "interests": ["hobby1", "hobby2"]}'), (6000001, '{"name": "Name_5000000", "age": 30, "interests": ["hobby1", "hobby2"]}'), (6000002, '{"name": "Name_5000001", "age": 30, "interests": ["hobby1", "hobby2"]}'), (6000003, '{"name": "Name_5000002", "age": 30, "interests": ["hobby1", "hobby2"]}'), (6000004, '{"name": "Name_5000003", "age": 30, "interests": ["hobby1", "hobby2"]}'), (6000005, '{"name": "Name_5000004", "age": 30, "interests": ["hobby1", "hobby2"]}'), (6000006, '{"name": "Name_5000005", "age": 30, "interests": ["hobby1", "hobby2"]}'), (6000007, '{"name": "Name_5000006", "age": 30, "interests": ["hobby1", "hobby2"]}'), (6000008, '{"name": "Name_5000007", "age": 30, "interests": ["hobby1", "hobby2"]}'), (6000009, '{"name": "Name_5000008", "age": 30, "interests": ["hobby1", "hobby2"]}'), (6000010, '{"name": "Name_5000009", "age": 30, "interests": ["hobby1", "hobby2"]}')]